# Populate relevant to the current environment, and rename to .env

# development, staging or production
NODE_ENV=

# /app/src/config (for development)
# /app/deploy/config (for staging, production)
NODE_CONFIG_DIR=

# Included here because these environment variables
# are needed by the task runner to build the app.
APP_URL=
APP_PORT=

# Used to generate secure authentication tokens
TOKEN_SECRET=

# @todo - remove these
SYSTEM_USERS_GUEST_ID=
SYSTEM_USERS_GUEST_EMAIL=
