<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <p>Welcome to <%= title %></p>
    <a href="#" id="logout">Logout</a>
    <script src="/javascripts/dashboard.bundle.js"></script>
  </body>
</html>
