<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <h1>Explore</h1>
    <p>Welcome to <%= title %></p>

    <% charities.forEach((charity) => { %>
        <%= JSON.stringify(charity) %>
        <br>
    <% }) %>

    <script src="/javascripts/explore.bundle.js"></script>
  </body>
</html>
