<!DOCTYPE html>

<!--
  We need to disable submit on click
  We need to capture the submit, and ajax send to login-auth
  We need to display error message on failure to authenticate
  We need to hide error message on interaction with form elements
  We need to store token returned on correct authentication
  We need to redirect to /dashboard on authentication
  We need to organise views into pages/ and partials/ and reuse items accordingly
  We need to add the miner check
-->

<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>

    <div id="errors"></div>

    <form action="/login-auth">
      <fieldset>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" maxlength="50">
      </fieldset>

      <fieldset>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" maxlength="30">
      </fieldset>

      <a href="/forgot-password" target="_blank">Forgot password?</a>
      
      <p>Add miner check here</p>

      <input id="submit" type="submit" value="Login">
    </form>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script type="text/javascript">

      $(function() {
        
        <% if (error_message) { %>
          var error = "<%= error_message %>"
          $("#errors").text(error)
          $("#errors").css("display", "block")
        <% } else { %>
          $("#errors").css("display", "none")
        <% } %>

        $("form").submit(function(e) {
          e.preventDefault()
        })

        $("#submit").on('click', function() {
          if ((!$("#email").val()) || (!$("#password").val())) {
            $("#errors").text("Please populate all fields")
            $("#errors").css("display", "block")
            return
          }

          // Reset error message and prevent multiple form submissions
          $("#errors").text("")
          $("#errors").css("display", "none")
          $("#submit").prop("disabled", true)

          // Post the form data to the server
          $.ajax({
            type: "POST",
            url: $("form").attr('action'),
            data: $("form").serialize(),
            statusCode: {
              200: function(data) {
                window.location.replace("/dashboard")
              },
              401: function() {
                $("#errors").text("The email or password is incorrect.")
                $("#errors").css("display", "block")
                $("#submit").prop("disabled", false)
              }
            }
          })
        })
      })

    </script>
  </body>
</html>