    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>
    <script src="/javascripts/index.bundle.js"></script>
  </body>
</html>
